name: CI

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - master

defaults:
  run:
    shell: bash

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Check `notes` script
        run: shellcheck notes
