name: CI

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - master

defaults:
  run:
    shell: bash

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y shfmt shellcheck

      - name: Check formatting
        run: shfmt --diff notes

      - name: Run static analysis
        run: shellcheck notes
